* {
  font-size: 10pt;
  font-family: "Lato","Helvetica",Arial,Verdana,Lucida;
}

body {
  margin: 2px 2px 0px 0px;
  padding: 0px 0px 0px 10px;
}

a:hover {
  background-color: inherit;
}

span {
  vertical-align: middle;
}

img {
  vertical-align: middle;
}

th {
  font-size: 11pt;
  font-weight: bold;
  vertical-align: top;
  padding: 10px 10px 10px 10px;
  background-color: #f9f9f9;
}

th label {
  font-size: inherit;
  font-weight: inherit;
  vertical-align: inherit;
}

th a {
  font-size: 11pt;
  text-transform: capitalize;
  font-weight: bold;
  vertical-align: middle;
  text-align: left;
}

td {
  padding: 5px 5px 5px 5px;
  vertical-align: middle;
}

.pnopad {
  padding: 0;
}

.ptop {
  vertical-align: top;
}

.head {
  font-size: 22pt;
  text-transform: none;
  font-weight: normal;
  letter-spacing: 1px;
}

div.lopetus {
  position:absolute;
  top:5px;
  right:60px;
}

div.ohje {
  position:absolute;
  top:5px;
  right:20px;
}

input, textarea {
  margin: 0px;
  padding: 8px 2px 8px 4px;
  border-style: solid;
  border-width: 1px;
}

input.large, select.large, textarea.large {
  width: 90%;
}

input.medium, select.medium, textarea.medium {
  width: 60%;
}

input.small, select.small, textarea.small {
  width: 30%;
}

select {
  font-size: 10pt;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  padding: 8px 35px 8px 4px;
  margin: 0px;
  border-style: solid;
  border-width: 1px;
  background-image: image_url('facelift/dropdown_arrow.png');
  background-repeat: no-repeat;
  background-position: right;
}

.field_with_errors {
  input, select {
    border: 1px solid red;
  }

  label {
    font-size:   11pt;
    font-weight: bold;
  }

  small {
    display: block;
    color:   red;
  }
}

select:disabled {
  background-image: none;
  border-style: none;
}

select.multipleselect {
  font-size: 10pt;
  padding: 2px 2px 2px 2px;
  background-image: none;
  width: 100%;
  overflow-y:scroll;
}

button, input[type=submit], input[type=button] {
  border : solid 0px #ffffff;
  font-size: 12pt;
  color : #ffffff;
  margin: 2px 4px 2px 0px;
  padding: 8px 10px 8px 10px;
  min-width: 100px;
}

input[type=submit].lisaa_btn {
  background-image: image_url('facelift/submit_add.png');
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 35px;
}

input[type=submit].hae_btn {
  background-image: image_url('facelift/submit_mglass.png');
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 35px;
}

input[type=submit].tallenna_btn {
  background-image: image_url('facelift/submit_rightarrow.png');
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 35px;
}

input[type=submit].poista_btn {
  background-image: image_url('facelift/submit_leftarrow.png');
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 35px;
}

.monivalintadiv {
  float: left;
  margin-right: 5px;
}

table.ostorivien_kohdistus input[type=text], table.ostorivien_kohdistus input[type=button], table.ostorivien_kohdistus select {
  margin: 0;
  padding: 1px;
}

select.minpad_select {
  padding: 8px 15px 8px 4px;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.no-title .ui-dialog-titlebar {
  display: none;
}

ul.list-unstyled {
  list-style: none;
  padding-left: 20px;
}

.text-large {
  font-size: 2rem !important;
  margin-bottom: 10px;
}

.text-medium {
  font-size: 1.25rem !important;
}

.margin-left-20 {
  margin-left: 20px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.kateis-table {
  margin-bottom: 20px;
}

.kateis-table th, .kateis-table td {
  font-size: 1.25rem;
}

.laskuri {
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

table.responsive {
  width: 100%;
}

table.responsive td input[type=text] {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.del {
  text-decoration: line-through;
}

.admin-view-30 {
  th {
    width: 30%;
  }
  td {
    width: 70%;
  }
}

td.separator {
  background: #E6E6E6;
  padding:    0;
  height:     5px;
}

.sort-link {
  display: block;
  margin-bottom: 5px;
}

strong {
  font-weight: bold;
}
