<%= render 'administration/header', text: t('.header') %>

<hr>

<table>
  <thead>
    <tr>
      <th><%= OnlineStore.human_attribute_name(:name) %></th>
    </tr>
  </thead>

  <tbody>
    <% @online_stores.each do |online_store| %>
      <tr class="aktiivi">
        <td><%= link_to online_store, online_store %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to_new 'online_store', new_online_store_path %>
