table {
  border-collapse: collapse;
  width:           100%;
}

th,
td {
  border:         1px solid black;
  text-align:     left;
  vertical-align: top;
}

thead {
  display: table-header-group;
}

tfoot {
  display: table-row-group;
}

tr {
  page-break-inside: avoid;
}

table.no-border th,
table.no-border td {
  border: none;
}

.inner-table-container table tr:first-child td {
  border-top: none;
}

.inner-table-container table tr:last-child td {
  border-bottom: none;
}

.inner-table-container table td:first-child {
  border-left: none;
}

.inner-table-container table td:last-child {
  border-right: none;
}

h1 {
  margin:  0;
  padding: 0;
}

ul.list-unstyled {
  list-style: none;
  margin:     0;
  padding:    0;
}

.logo {
  max-width:  150px;
  max-height: 100px;
}

.margin-bottom {
  margin-bottom: 40px;
}
