<%# Locals: f %>
<% if update_access? %>
  <br/>

  <div class="actions">
    <% text = f.object.persisted? ? t('P채ivit채') : t('Lis채채') %>
    <% text = "#{text} #{f.object.class.model_name.human}" %>
    <%= f.submit text, disable_with: t('Tallentaa') + '...' %>
  </div>
<% end %>
