<%
   # Locals
   #
   # f
   # resource
   # resource_name
%>


<% if update_access? %>
  <br/>

  <div class="actions">
    <% text = resource.persisted? ? t('P채ivit채') : t('Lis채채') %>
    <% text = "#{text} #{resource_name}" %>
    <%= f.submit t(text), disable_with: t('Tallentaa') + '...' %>
  </div>
<% end %>
