<% if resource.errors.any? %>
  <div id="error_explanation">
    <span class="message">
      <%=t 'errors.template.header', count: resource.errors.count, model: resource.class.model_name.human %><br>
      <%=t 'errors.template.body', count: resource.errors.size %>
    </span>

    <div class="error">
      <ul>
        <% resource.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
