<% if resource.errors.any? %>
<div id="error_explanation">
  <span class="message">
    <%= pluralize(resource.errors.count, t("virhe esti tallentumisen"), t("virhettä esti tallentumisen")) %>:
  </span>

  <div class="error">
    <ul>
    <% resource.errors.full_messages.each do |msg| %>
      <li>
        <%= t(msg) %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
<% end %>
