<table width='460' class='admin-view-30'>
  <tr>
    <th><%= f.label :vak_kielto %></th>
    <td><%= f.select :vak_kielto, adr_prohibition_options, {}, class: 'chosen-select' %></td>
  </tr>
  <tr>
    <th><%= f.label :vaihtoehtoinen_vak_toimitustapa %></th>
    <td><%= f.select :vaihtoehtoinen_vak_toimitustapa, alternative_adr_delivery_method_options, {}, class: 'chosen-select' %></td>
  </tr>
</table>
