<%= link_to '« Palaa ohjelmaan: Valuutat', currencies_path %>

<br /><br />

<%= render 'header' %>

<%= render 'form' %>

<br /><br />
<a style="cursor:pointer" onclick="sanakirjaform.submit()"><font class="info">Sanakirja</font></a>
