# create database pupesoft_test;
# grant all privileges on pupesoft_test.* to 'user'@'localhost' identified by 'password';
# rake db:schema:load RAILS_ENV=test

default: &default
  adapter:   mysql2
  encoding:  <%= Rails.application.secrets.db_encoding %>
  pool:      <%= Rails.application.secrets.db_pool %>
  host:      <%= Rails.application.secrets.db_host %>
  database:  <%= Rails.application.secrets.db_name %>
  username:  <%= Rails.application.secrets.db_user %>
  password:  <%= Rails.application.secrets.db_pass %>
  port:      <%= Rails.application.secrets.db_port %>

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
