table {
  border-collapse: collapse;
  border:          1px solid black;
  width:           100%;
}

table.no-border,
table.no-border th,
table.no-border td {
  border: none;
}

th, td {
  border:         1px solid black;
  text-align:     left;
  vertical-align: top;
}

thead {
  display: table-header-group;
}

tr {
  page-break-inside: avoid;
}

td > table {
  margin: -2px;
  width:  101%;
}

tfoot {
  display: table-row-group;
}

h1 {
  margin:  0;
  padding: 0;
}

ul.list-unstyled {
  list-style: none;
  margin:     0;
  padding:    0;
}

.margin-bottom {
  margin-bottom: 40px;
}
