<% alternative_expenditures.each do |e| %>
  <tr class='custom_expenditure hidden <%= week_sanitized %>'>
    <td class='back'>
    </td>

    <td class='spec'>
      <%= e[:description] %>
    </td>

    <td class='spec'>
      <%= e[:amount] %>
    </td>

    <td class='back' colspan='2'></td>
  </tr>
<% end %>
