<div class="dictionary">
  <%= link_to t("Sanakirja"),
              dictionaries_path("search[keyword]" => Dictionary.translated_words(:to_s),
                                "languages[]" => current_user.translation_language,
                                "search[language]" => "fi",
                                "search[strict]" => "true"),
              class: "info" %>
</div>
