<% if @commodity.present? %>
<p>Umami roof party gluten-free narwhal put a bird on it kitsch selvage art party, asymmetrical next level PBR freegan cardigan biodiesel. Gluten-free Godard retro cronut Williamsburg 8-bit. Heirloom meggings Pinterest Banksy crucifix. Thundercats pop-up salvia art party American Apparel brunch. Cliche Neutra mumblecore Carles fingerstache locavore. Leggings normcore seitan PBR viral Schlitz. Thundercats paleo shabby chic crucifix disrupt meh.</p>
<% end %>
