<% if @commodity.procurement_rows.present? %>
<p>Irony Godard lumbersexual meggings crucifix master cleanse, mumblecore narwhal ennui DIY. Selvage flannel tofu, disrupt vinyl fashion axe iPhone XOXO drinking vinegar. Salvia YOLO wolf chia, mixtape literally banjo. Truffaut Schlitz try-hard typewriter stumptown cold-pressed heirloom. Small batch Williamsburg 3 wolf moon four dollar toast paleo. Actually gastropub wayfarers, selvage swag Carles beard Etsy Echo Park pork belly Truffaut. Polaroid Pinterest slow-carb dreamcatcher squid selvage, butcher ennui semiotics fanny pack leggings.</p>
<% end %>
